body {
    font-family: sans-serif;
    text-align: center;
    background: #a00;
    color: white;
}

.game-board {
    position: relative;
    width: 900px;
    height: 450px;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #c33;
}

.player-area {
    position: absolute;
    text-align: center;
    border: black 1px;
}

.player-area.player {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.player-area.comp1 {
    top: 160px;
    left: 30px;
}

.player-area.comp2 {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.player-area.comp3 {
    top: 160px;
    right: 30px;
}


.played,
.previous {
    margin: 5px 0;
}

.played {
    height: 110px;
}

.card {
    display: inline-block;
    width: 72px;
    height: 96px;
    background-image: url('cards_four.webp');
    background-size: calc(72px * 13) auto;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: transform 0.1s;
}

.hand .card {
    cursor: pointer;
}

.hand .card:hover {
    transform: scale(1.05);
    border-color: #fff;
}

.played-card {
    opacity: 0.9;
}

.hand {
    margin-top: 30px;
    height: 110px;
}

.trumps {
  min-height: 120px;
  background-color: #aaa;
  width: 220px;
  margin: 0 auto;
  border-radius: 5px;
}

.trumps .card {
  margin-left: -50px;
}

.trumps .card:first-child {
  margin-left: 0;
}

.previous-trick {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 200px;
    text-align: center;
}

.prev-area {
    position: relative;
    width: 100%;
    height: 200px;
}

.prev-slot {
    position: absolute;
    transform: scale(0.75);
    transform-origin: center center;
}

#prev-comp1 {
    top: 50px;
    left: 0;
}

#prev-comp2 {
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
}

#prev-comp3 {
    top: 50px;
    right: 0;
}

#prev-player {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
}

.prev-slot .card {
    margin: 2px;
}
